{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quality Sounds</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/5f6453ff01.js" crossorigin="anonymous"></script>
</head>
</head>
<body>
    <header>
        <div class="nav container">
            <a href="/home/" class="logo">Quality Sounds</a>
            <a href="/users/"><i class='bx bxs-user' id="user-x"></i></a>
            <i class='bx bxs-cart-alt' id="cart-icon"></i>

            <div class="cart">
                <h2 class="cart-title">Your cart</h2>

                <div class="cart-content">
                    
                </div>

                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">$0</div>
                </div>
                
                <button type="button" class="btn-buy">Buy Now</button>

                <i class='bx bx-x' id="close-cart"></i>

            </div>
        </div>
    </header>

    <section class="shop container ">
        <h2 class="section-title">Shop products</h2>
        <div class="shop-content">
            <div class="products-container">
                {% for p in my_products %}
                <div class="product-box">
                    <img style="border-radius: 10px;" width="180px" src="{{ p.image.url }}" alt="" class="product-img">
                    <h2 class="product-title">{{ p.title }}</h2>
                    <div class="price">{{ p.price }}</div>
                    <i class='bx bxs-cart add-cart'></i>
                </div>
                {% endfor %}
            </div>
            
        </div>

    </section>
    <script type="text/javascript"  src="{% static 'js/main.js' %}"></script>
</body>
</html>
