<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>Login</h1>
    <form action="" method="post" novalidate id="fom">
        {% csrf_token%}
        {{form.as_p}}
        <label for="User">Username</label>
        <input type="email" id="user" placeholder="Enter your email"><br><br>
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter your Password"><br><br>
        <button value="submit">Login</button><br><br>
        <a href="{% url 'signin' %}">Or Register</a><br><br><br><br> 
        <a href="{% url 'index' %}">Proceed to shopping</a>
    </form>


</body>
</html>